<div class="activities-page">
    <section class="activity">
      <h2>PROMTEH-Project Meeting-1, December 4, 2024, Novi Sad, Serbia</h2>
      <p>Lecture: Bojan Miljević, “Non-destructive characterization of nanomaterials using X-rays scattering methods – Rocking curve analysis”</p>
      <img src="/assets/PBM-.tif" alt="Meeting 1">
  
      <h2>In-plane measurement of ultra-thin LMO-based films on new XRD Rigaku SmartLab instrument, located at Institute Biosense</h2>
      <p>PROMTEH-Project Meeting-2, January 26, 2024, Belgrade, Serbia</p>
      <p>Lectures: Ivan Stijepović, “X-ray absorption spectroscopy” and Nikola Ilić, “Application of MOKE for characterization of thin films”</p>
      <img src="/assets/" alt="Meeting 2">
  
      <h2>Electric and electro-optic measurements</h2>
      <h2>PROMTEH-Project Meeting-3, March 24, 2024, Novi Sad, Serbia</h2>
      <h2>Installation of new equipment</h2>
      <h2>Dissemination</h2>
      <p><a href="https://www.youtube.com/watch?v=2OYT8tliVOY" target="_blank">YouTube Link</a></p>
    </section>
  
    <hr>
    <!-- Footer Section -->
    <footer>
      <p>Fonda za nauku, Republic of Serbia <a href="https://www.linkedin.com/company/promteh-project/" target="_blank">LinkedIn</a></p>
      <p>Faculty of Technology, University of Novi Sad</p>
      <p>Bul. Cara Lazara 1, 21000 Novi Sad</p>
    </footer>
  </div>
  