<div class="about-page">
  <section class="about-text">
    <p>
      The fast development of information technologies and rapid digital data
      growth require a new approach for ultrafast low-dissipative manipulation
      and storage of information. Magnetoelectric and multiferroic materials,
      where the magnetic degree of freedom can be controlled by electric field
      and vice versa, are very suitable for data storage media, multi-state
      memories and optoelectronic devices. Manipulation of both the charge and
      magnetic order of these materials by light is very attractive as it could
      overcome the disadvantages of existing systems that have limited speed and
      an enormous rise in energy consumption. For this reason, LaMnO<sub>3</sub>
      (LMO) based thin film heterostructures with controllable physical
      properties are promising functional elements not only for data technology
      devices, but also for other advanced nano-systems. The main ideas of the
      proposed Project are: i) to develop novel concept for fabrication of
      single- and multi-doped LMO thin films and bilayer heterostructures and
      ii) to confirm that controlled manipulation of physical properties of the
      fabricated LMO-based thin films and heterostructures can be performed by
      light. Recognition of a new vision about importance of optically induced
      magnetoelectric effects and increase of fundamental knowledge in this
      field is crucial.
    </p>
    <p>
      Project activities will be organized as follows: i) to develop optimal
      conditions for deposition of high-quality doped LMO epitaxial thin films
      (&lt;50 nm) by spin-coating of a polymer/metal aqueous solution, ii) to
      design functional bilayer heterostructures by combination of epitaxial
      magnetic LMO-based and ferroelectric titanate thin layers, iii) to
      demonstrate that controlled manipulation of physical properties of the
      LMO-based films and heterostructures is possible by light stimuli and iv)
      to fabricate prototype components. These objectives will be accomplished
      by combining compatible experience, experimental skills and resources of
      all research team members.
    </p>

    Work Packages:
    <ul>
      <li>WP1: Deposition of doped LMO thin films</li>
      <li>WP2: Fabrication of heterostructures and prototype components</li>
      <li>WP3: Manipulation of physical properties by light stimuli</li>
      <li>WP4: Coordination and project management</li>
    </ul>
  </section>

  <section class="about-image">
    <img src="/assets/Fig-1-new.tif" alt="Project Image" />
  </section>

  <hr>
  <!-- Footer Section -->
  <footer>
    <p>
      Fonda za nauku, Republic of Serbia
      <a
        href="https://www.linkedin.com/company/promteh-project/"
        target="_blank"
        >LinkedIn</a
      >
    </p>
    <p>Faculty of Technology, University of Novi Sad</p>
    <p>Bul. Cara Lazara 1, 21000 Novi Sad</p>
  </footer>
</div>
