<mat-toolbar>
  <mat-toolbar-row>
    <span>{{title}}</span>
    <span class="spacer"></span>
    <nav>
      <a mat-button routerLink="/" routerLinkActive="active">Home</a>
      <a mat-button routerLink="/about" routerLinkActive="active">About</a>
      <a mat-button routerLink="/activities" routerLinkActive="active">Activities</a>
      <a mat-button routerLink="/results" routerLinkActive="active">Results</a>
      <a mat-button routerLink="/research-team" routerLinkActive="active">ResearchTeam</a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>