<div class="home-page">
    <!-- Description Section -->
    <section class="description">
      <p><strong>Program:</strong> PRIZMA</p>
      <p><strong>Sub-program:</strong> Engineering and technological sciences</p>
      <p><strong>Project Title:</strong> Processing of manganite thin film heterostructures and control of their physical properties by light stimuli</p>
      <p><strong>Acronym:</strong> PROMTEH</p>
      <p><strong>Grant:</strong> This research was supported by the Science Fund of the Republic of Serbia, #GRANT No 7383</p>
      <p><strong>Budget:</strong> 284.911,02 EUR</p>
    </section>
  
    <!-- Pictures Section -->
    <section class="pictures">
      <div class="picture">
        <img src="assets/medium_155_Faculty_of_Technology_logo.png" alt="Faculty of Technology Novi Sad">
        <p>Faculty of Technology Novi Sad, University of Novi Sad, FOTNS</p>
      </div>
      <div class="picture">
        <img src="/assets/logo_cms_ai.png" alt="Institute for Multidisciplinary Research">
        <p>Institute for Multidisciplinary Research, University of Belgrade, IMSI</p>
      </div>
      <div class="picture">
        <img src="/assets/biosense_logo.png" alt="Institute Biosense">
        <p>Institute Biosense, University of Novi Sad, BioSense</p>
      </div>
      <div class="picture">
        <img src="/assets/PMF.png" alt="Faculty of Natural Sciences">
        <p>Faculty of Natural Sciences, University of Novi Sad, UNSFS</p>
      </div>
      <div class="picture">
        <img src="/assets/vinca_logo.png" alt="Institute Vinca">
        <p>Institute Vinca, University of Belgrade, VINS</p>
      </div>
    </section>
  
    <hr>
  
    <!-- Footer Section -->
    <footer>
      <p>Fonda za nauku, Republic of Serbia <a href="https://www.linkedin.com/company/promteh-project/" target="_blank">LinkedIn</a></p>
      <p>Faculty of Technology, University of Novi Sad</p>
      <p>Bul. Cara Lazara 1, 21000 Novi Sad</p>
    </footer>
  </div>
  